// ------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------
// 1. Ubuntu ........... Text font
// 2. Ubuntu Light ..... Headings font
// 3. Ubuntu Mono ...... Code font
// ------------------------------------------------------------------

// Ubuntu

@font-face {
	font-family: -apple-system, Ubuntu, Segoe UI;
	}
@font-face {
	font-weight:bold;
	font-family: -apple-system, Ubuntu, Segoe UI;
	}
@font-face {
	font-style:italic;
	font-family: -apple-system, Ubuntu, Segoe UI;
	}
@font-face {
	font-style:italic;
	font-weight:bold;
	font-family: -apple-system, Ubuntu, Segoe UI;
	}

// Ubuntu Light

@font-face {
	font-family: -apple-system, Ubuntu Light, Segoe UI;
	}

// Ubuntu Mono

@font-face {
	font-family: -apple-system, Ubuntu Mono, Segoe UI;
	}
